<div class="row animated fadeIn">

    <div class="col-md-12">
        <div class="card ">
            <div class="card-header card-header-rose card-header-text">
                <div class="card-text">
                    <h4 class="card-title">Programar Notificaciones</h4>
                </div>
            </div>
            <div class="card-body ">
                <form #f="ngForm" ngNativeValidate (submit)="guardarNotificacion(f)" class="form-horizontal">
                    <div class="row">
                        <label class="col-md-2 col-form-label ">Medio</label>
                        <div class="col-md-5">
                            <div class="form-group">
                                <select [(ngModel)]="notificacion.canal.idCanal" name="canal" class="selectpicker" data-style="select-with-transition" title="Seleccione Medio" data-size="7" required>
                                    <option disabled> Seleccione un Medio</option>
                                    <option value="1">Correo electronico </option>
                                    <option value="2">Mensaje de texto </option>
                                    <option value="3">Whatsapp </option>
                                  </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 col-form-label ">Contactos</label>
                        <div class="col-md-10">
                            <div class="form-group">
                                <input type="text" #inputCliente id="inputCliente" class="form-control tagsinput" data-role="tagsinput sometext" data-color="info">
                                <div id="myDropdown" class="dropdown-content pointer w-100">
                                    <a class="dropbtn" [routerLink]="['/contact', 'new']"><i class="fa fa-user" aria-hidden="true"></i> Crear nuevo contacto</a>
                                    <a class="dropbtn" *ngFor="let contacto of contactos" (click)="seleccionarContacto(contacto)"><i class="fa fa-user" aria-hidden="true"></i> {{ contacto.nombre + ' ' + contacto.apellido }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 col-form-label">Titulo</label>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input [(ngModel)]="notificacion.titulo" name="titulo" type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-5 text-right">
                            <a class="btn btn-secondary" (click)="modalPlantillaService.mostrarModal()">Elegir Plantilla <i class="fa fa-envelope-open" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 col-form-label ">Descripcion</label>
                        <div class="col-md-10">
                            <div class="form-group">
                                <input type="text" class="form-control" id="tituloNotificacion" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control" [(ngModel)]="notificacion.notificacion" name="notificacion" placeholder="Contenido de la notificacion" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button class="btn btn-dark" [routerLink]="['/schedule']"><i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar </button>
                            <button type="submit" class="btn btn-primary">Programar <i class="fa fa-save"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>