<div class="row animated fadeIn">

    <div class="col-md-12">
        <div class="card ">
            <div class="card-header card-header-rose card-header-text">
                <div class="card-text">
                    <h4 class="card-title">Programar Notificaciones</h4>
                </div>
            </div>
            <div class="card-body ">
                <form #f="ngForm" ngNativeValidate (submit)="guardarNotificacion(f)" class="form-horizontal">
                    <div class="row">
                        <label class="col-md-2 col-form-label ">Medio</label>
                        <div class="col-md-5">
                            <div class="form-group">
                                <select [(ngModel)]="notificacion.canal.idCanal" name="canal" id="canal" class="selectpicker" data-style="select-with-transition" title="Seleccione Medio" required>
                                  </select>
                            </div>
                        </div>
                        <label class="col-md-1 col-form-label">Hora</label>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" id="horaNotificacion" class="form-control timepicker" value="18:00" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 col-form-label">Agregar</label>
                        <div class="col-sm-5 checkbox-radios" style="padding-top: 5px;">
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="filtro" (change)="cambioTipoDestinatario('grupos')"> Grupos
                                    <span class="circle">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="filtro" (change)="cambioTipoDestinatario('contactos')" checked> Contactos
                                    <span class="circle">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                        </div> 
                        <label *ngIf="!agregarGrupos" class="col-md-1 col-form-label">Contacto</label>
                        <label *ngIf="agregarGrupos" class="col-md-1 col-form-label">Grupos</label>
                        <div class="col-md-4">
                            <div *ngIf="!agregarGrupos" class="form-group">
                                <tag-input 
                                    [(ngModel)]="contactosSelecteds" 
                                    [onlyFromAutocomplete]="true"
                                    [displayBy]="'name'"
                                    (onAdd)="onAddContact($event)"
                                    name="contatos"
                                    [placeholder]="'Ingrese el nombre'"
                                    [secondaryPlaceholder]="'Ingrese el nombre'">
                                    <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="contactos">
                                    </tag-input-dropdown>
                                </tag-input>
                            </div>
                            <div *ngIf="agregarGrupos" class="form-group">
                                <tag-input 
                                    [(ngModel)]="gruposSelecteds" 
                                    [onlyFromAutocomplete]="true"
                                    [displayBy]="'name'"
                                    (onAdd)="onAddGrupo($event)"
                                    name="grupo"
                                    [placeholder]="'Ingrese el nombre'"
                                    [secondaryPlaceholder]="'Ingrese el nombre'">
                                    <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="grupos">
                                    </tag-input-dropdown>
                                </tag-input>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 col-form-label">Asunto</label>
                        <div class="col-md-7">
                            <div class="form-group">
                                <input [(ngModel)]="notificacion.titulo" name="titulo" type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-3 text-right">
                            <a class="btn btn-secondary w-100" (click)="modalPlantillaService.mostrarModal()">Plantillas <i class="fa fa-envelope-open" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea id="editor2" class="form-control" [(ngModel)]="notificacion.notificacion" name="notificacion" [maxlength]="limiteCaracteres" placeholder="Contenido de la notificacion" required></textarea>
                                <!--<ckeditor id="editor1" [(ngModel)]="notificacion.notificacion" name="notificacion" [data]="dataNotificacion" style="height: 100%;"></ckeditor>-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button class="btn btn-dark full-width" [routerLink]="['/schedule']"><i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar </button>
                            <button type="submit" class="btn btn-primary full-width">Programar <i class="fa fa-save"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>