<div class='row'>
    <div class='col-md-12'>
        <div class='card '>
            <div class='card-header card-header-rose card-header-icon'>
                <div class='card-icon'>
                    <i class='material-icons'>search</i>
                </div>
                <h4 class='card-title'></h4>
            </div>
            <div class='card-body '>
                <div class="row">
                    <div class="col-sm-12 checkbox-radios">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="filtro" (change)="changeFiltro('fecha')" checked> Fecha de Ingreso
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="filtro" (change)="changeFiltro('usuario')"> Usuario
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <hr>
                <form *ngIf="filtro === 'fecha'" #f="ngForm" ngNativeValidate (submit)="obtenerUsuarioPorFecha(f)" class="form-horizontal">
                    <div class="row">
                        <label class="col-md-2 col-form-label">Fecha Inicial</label>
                        <div class="col-md-3">
                            <div class="form-group has-default">
                                <input type="date" [(ngModel)]="fechaInicio" [max]="fechaFin | date: 'yyyy-MM-dd'" name="fechaInicio" class="form-control" required>
                            </div>
                        </div>
                        <label class="col-md-2 col-form-label">Fecha Final</label>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="date" [(ngModel)]="fechaFin" [min]="fechaInicio | date: 'yyyy-MM-dd'" name="fechaFin" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-2 text-right">
                            <button type='submit' class='btn btn-fill btn-rose'>
                                    <i class='material-icons'>search</i>
                            </button>
                        </div>
                    </div>
                </form>
                <div *ngIf="filtro === 'usuario'" class="form-horizontal">
                    <input class="form-control" #input placeholder="Ingrese el nombre del usuario" (keyup)="obtenerUsuariosPorNombre(input.value)" type="text" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class='row'>
    <div class='col-md-12'>
        <div class='card '>
            <div class='card-header card-header-rose card-header-icon'>
                <div class='card-icon'>
                    <i class='material-icons'>perm_identity</i>
                </div>
                <h4 class='card-title'></h4>
            </div>
            <div class='card-body '>
                <div *ngIf="permisos.imprimir" class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col" class="w-25-vh">Nombre</th>
                                <th scope="col" class="w-8-vh">Telefono</th>
                                <th scope="col" class="w-21-vh">Correo</th>
                                <th scope="col" class="w-18-vh">Role</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios | paginate: { itemsPerPage: 5, currentPage: page }">
                                <td>
                                    <img class="img-circle" [src]="usuario.img | imagen">
                                </td>
                                <td data-label="Nombre">{{ usuario.nombres + ' ' + usuario.apellidos }}</td>
                                <td data-label="Telefono">{{ usuario.telefono }}</td>
                                <td data-label="Correo">{{ usuario.username }}</td>
                                <td data-label="Role">
                                    <div class="form-group">
                                        <select [(ngModel)]="usuario.role.idRole" name="role" [id]="'role-' + usuario.idUsuario" class="selectpicker" data-style="select-with-transition" title="Seleccione Role" required>
                                        </select>
                                    </div>
                                </td>
                                <td *ngIf="usuario.estadoUsuario.idEstadoUsuario === estadoUsuarioActivo" data-label="Estado">Activo</td>
                                <td *ngIf="usuario.estadoUsuario.idEstadoUsuario === estadoUsuarioInactivo " data-label="Estado">Inactivo</td>
                                <td *ngIf="usuario.estadoUsuario.idEstadoUsuario === estadoUsuarioBloqueado " data-label="Estado">Bloqueado</td>
                                <td class="td-actions text-center" data-label="Acciones">
                                    <button *ngIf="usuarioService.usuario.idUsuario !== usuario.idUsuario" (click)="guardarUsuario(usuario)" type="button" rel="tooltip" title="Guardar" class="btn btn-primary btn-link">
                                        <i class="material-icons">save</i>
                                    </button>
                                    <button *ngIf="usuarioService.usuario.idUsuario !== usuario.idUsuario && permisos.baja && usuario.estadoUsuario.idEstadoUsuario === estadoUsuarioActivo" (click)="eliminarUsuario(usuario.idUsuario, 2)" type="button" rel="tooltip" title="Deshabilitar" class="btn btn-danger btn-link">
                                        <i class="material-icons">close</i>
                                    </button>
                                    <button *ngIf="usuarioService.usuario.idUsuario !== usuario.idUsuario && permisos.cambio && usuario.estadoUsuario.idEstadoUsuario === estadoUsuarioInactivo" (click)="eliminarUsuario(usuario.idUsuario, 1)" type="button" rel="tooltip" title="Habilitar" class="btn btn-success btn-link">
                                        <i class="material-icons">check</i>
                                    </button>
                                    <button *ngIf="usuarioService.usuario.idUsuario !== usuario.idUsuario && !usuario.enabled" (click)="sendActivationEmail(usuario.username)" type="button" rel="tooltip" title="Reenviar correo de activación" class="btn btn-primary btn-link">
                                        <i class="material-icons">send</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="page = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
,