<div class='row'>
    <div class='col-md-12'>
        <div class='card '>
            <div class='card-header card-header-rose card-header-icon'>
                <div class='card-icon'>
                    <i class='material-icons'>search</i>
                </div>
                <h4 class='card-title'></h4>
            </div>
            <div class='card-body '>
                <div class="form-horizontal">
                    <input class="form-control" #input placeholder="Ingrese el nombre del Role" (keyup)="obtenerRolePorNombre(input.value)" type="text" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class='row'>
    <div class='col-md-12'>
        <div class='card '>
            <div class='card-header card-header-rose card-header-icon'>
                <div class='card-icon'>
                    <i class='material-icons'>assignment_ind</i>
                </div>
                <h4 class='card-title'></h4>
            </div>
            <div class='card-body '>
                <div class="text-right">
                    <button class="btn btn-just-icon btn-round btn-success" [routerLink]="['/role', 'nuevo']">
                        <i class="fa fa-plus"> </i>
                    </button>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>Nombre</th>
                                <th>Codigo</th>
                                <th>Estado</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let role of roles | paginate: { itemsPerPage: 5, currentPage: page }">
                                <td class="text-center">{{ role.idRole }}</td>
                                <td>{{ role.descripcion }}</td>
                                <td>{{ role.nombre }}</td>
                                <td *ngIf="role.estado">Activo</td>
                                <td *ngIf="!role.estado">Inactivo</td>
                                <td class="td-actions text-center">
                                    <button type="button" rel="tooltip" title="editar" [routerLink]="['/role', role.idRole]" class="btn btn-success btn-link">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button type="button" rel="tooltip" title="Eliminar" class="btn btn-danger btn-link">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="page = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
,