<div class='row' *ngIf="permisoEmpresa().imprimir">
    <div class='col-md-7'>
        <div class='card '>
            <div class='card-header card-header-rose card-header-text'>
                <div class="card-text">
                    <h4 class='card-title'>Empresa</h4>
                </div>
            </div>
            <div class='card-body '>
                <form ngNativeValidate #f="ngForm" (submit)="guardarEmpresa(f)">
                    <div class="row">
                        <label class="col-md-2 col-form-label">Nombre de la empresa</label>
                        <div class="col-md-10">
                            <div class="form-group">
                                <input [(ngModel)]="empresa.nombreEmpresa" name="nombreEmpresa" type="text" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 col-form-label">Direccion</label>
                        <div class="col-md-10">
                            <div class="form-group">
                                <input [(ngModel)]="empresa.direccion" name="direccion" type="text" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 col-form-label">Telefono</label>
                        <div class="col-md-10">
                            <div class="form-group">
                                <input [(ngModel)]="empresa.telefono" name="telefono" type="number" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 col-form-label">Codigo</label>
                        <div class="col-md-10">
                            <div class="form-group">
                                <input [(ngModel)]="empresa.codigo" name="codigo" type="text" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                    <button *ngIf="permisoEmpresa().cambio" type="submit" class="btn btn-rose pull-right">Actualizar</button>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class='card-footer '>

            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card card-profile">
            <div class="card-avatar">
                <a href="#pablo">
                    <img *ngIf="!imagenTemporal" class="img" [src]="empresa.logo | imagen: 'company'" />
                    <img *ngIf="imagenTemporal" class="img" [src]="imagenTemporal" />
                </a>
            </div>
            <div class="card-body">
                <h6 class="card-category text-gray">{{ empresa.nombreEmpresa }}</h6>
                <h4 class="card-title">Logo de mi empresa</h4>
                <span class="btn btn-round btn-rose btn-file">
                    <span class="fileinput-new">Agregar Logo</span>
                    <span class="fileinput-exists">Cambiar Logo</span>
                    <input type="file" (change)="seleccionImagen( $event.target.files[0] )">
                </span>

                <button (click)="cambiarImagen()" [disabled]="!imagenSubir" class="btn btn-rose btn-round">
                    <i class="fa fa-save "></i> Actualizar Logo
                </button>
            </div>
        </div>
    </div>
</div>
