<div *ngIf="permisos.imprimir" class="row animated fadeIn">
    <div class='col-md-12'>
        <div class='card '>
            <div class="card-header card-header-rose card-header-text">
                <div class='card-icon'>
                    <i class='material-icons'>search</i>
                </div>
            </div>
            <div class='card-body '>
                <div class="row">
                    <div class="col-sm-12 checkbox-radios">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="filtro" (change)="changeFiltro('fecha')" checked> Fecha de Creacion
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="filtro" (change)="changeFiltro('usuario')"> Usuario
                                <span class="circle">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <hr/>
                <form *ngIf="filtro === 'fecha'" [formGroup]="parametros" (submit)="buscarContactoPorFecha()" ngNativeValidate class="form-horizontal animated fadeInDown">
                    <div class="row">
                        <label class="col-sm-2 col-form-label">Fecha Inicial</label>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input formControlName="fechaInicio" name="fechaInicio" type="date" class="form-control" value="10/06/2018" required>
                            </div>
                        </div>
                        <label class="col-sm-2 col-form-label">Fecha Final</label>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input formControlName="fechaFin" name="fechaFin" type="date" class="form-control" value="10/06/2018" required>
                            </div>
                        </div>
                        <div class="col-md-2 text-right">
                            <button type="submit" class="btn btn-fill btn-rose"><i class="material-icons">search</i></button>
                        </div>
                    </div>
                </form>
                <div *ngIf="filtro === 'usuario'" class="row animated fadeInDown">
                    <label class="col-md-2 col-form-label">Nombre </label>
                    <div class="col-md-10">
                        <div class="form-group has-default bmd-form-group">
                            <input type="text" #nombre (keyup)="buscarContato(nombre.value)" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='row animated fadeIn'>
    <div class='col-md-12'>
        <div class='card '>
            <div class="row">
                <div class="col-md-6">
                    <div class='card-header card-header-rose card-header-icon'>
                        <div class='card-icon'>
                            <i class='material-icons'>contacts</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <div class='card-header card-header-rose card-header-icon'>
                        <div class='card-text'>
                            <i *ngIf="permisos.alta" [routerLink]="['/contact', 'new']" class='material-icons pointer'>add</i>
                        </div>
                    </div>
                </div>
            </div>

            <div class='card-body' *ngIf="permisos.imprimir">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Correo electronico</th>
                            <th scope="col">telefono</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let contacto of contactos | paginate: { itemsPerPage: 5, currentPage: page }">
                            <td data-label="Codigo">{{ contacto.idContacto }}</td>
                            <td data-label="Nombre">{{ contacto.nombre }}</td>
                            <td data-label="Apellido">{{ contacto.apellido }}</td>
                            <td data-label="Correo">{{ contacto.email }}</td>
                            <td data-label="Telefono">{{ contacto.telefono }}</td>
                            <td data-label="Estado" *ngIf="contacto.estado">Activo</td>
                            <td data-label="Estado" *ngIf="!contacto.estado">Inactivo</td>
                            <td data-label="Acciones" class="td-actions">
                                <button *ngIf="permisos.cambio" type="button" [routerLink]="['/contact', contacto.idContacto]" rel="tooltip" class="btn btn-success btn-link">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button *ngIf="permisos.baja && contacto.estado" type="button" rel="tooltip" (click)="cambiarEstadoContacto(contacto, false)" class="btn btn-danger btn-link" title="Inhabilitar">
                                    <i class="material-icons">close</i>
                                </button>
                                <button *ngIf="permisos.cambio && !contacto.estado" type="button" rel="tooltip" (click)="cambiarEstadoContacto(contacto, true)" class="btn btn-success btn-link" title="habilitar">
                                    <i class="material-icons">check</i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>