<div class="row animated fadeIn">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">contacts</i>
                </div>
                <h4 class="card-title">Administrar Contacto</h4>
            </div>
            <div class="card-body ">
                <form #f="ngForm" ngNativeValidate (submit)="guardarContacto(f)" class="form-horizontal">
                    <div class="row">
                        <label class="col-md-2 col-form-label">Nombre</label>
                        <div class="col-md-4">
                            <div class="form-group has-default">
                                <input [(ngModel)]="contacto.nombre" name="nombre" placeholder="Ingresa tu nombre" type="text" class="form-control" required>
                            </div>
                        </div>
                        <label class="col-md-2 col-form-label">Apellido</label>
                        <div class="col-md-4">
                            <div class="form-group has-default">
                                <input [(ngModel)]="contacto.apellido" name="apellido" placeholder="Ingresa tus apellidos" type="text" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 col-form-label">Telefono</label>
                        <div class="col-md-2">
                            <div class="form-group">
                                <select id="idPais" [(ngModel)]="contacto.pais.idPais" name="idPais" class="selectpicker" data-style="select-with-transition" title="Seleccione Pais" data-size="7" required>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input [(ngModel)]="contacto.telefono" name="telefono" type="number" placeholder="55555555" class="form-control" required>
                            </div>
                        </div>
                        <label class="col-md-2 col-form-label">Email</label>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input [(ngModel)]="contacto.email" name="email" placeholder="rosa123@hotmail.com" type="email" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div id="ubicacion" class="row">
                        <label class="col-md-2 col-form-label">Departamento</label>
                        <div class="col-md-4">
                            <select id="idRegion" name="idRegion" class="selectpicker" data-style="select-with-transition" title="Seleccione departamento" data-size="" [(ngModel)]="contacto.provincia.region.idRegion">
                                <option disabled> Seleccione un departamento</option>
                            </select>
                        </div>
                        <label class="col-md-2 col-form-label">Municipio</label>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select id="idProvincia" name="idProvincia" class="selectpicker" data-style="select-with-transition" title="Seleccione municipio" data-size="7" [(ngModel)]="contacto.provincia.idProvincia">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 col-form-label">Direccion</label>
                        <div class="col-md-10">
                            <div class="form-group">
                                <input [(ngModel)]="contacto.direccion" placeholder="Ingresa tu direccion completa" name="direccion" type="text" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 col-form-label">Estado </label>
                        <div class="col-md-10" style="display: flex; align-items: flex-end;">
                            <div class="togglebutton">
                                <label>
                                    <input [(ngModel)]="contacto.estado" name="estado" type="checkbox" checked="">
                                    <span class="toggle"></span>
                                    <i *ngIf="!contacto.estado">Inactivo</i>
                                    <i *ngIf="contacto.estado">Activo</i>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button type="button" [routerLink]="['/contacts']" class="btn btn-fill btn-dark">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                Contactos
                            </button>
                            <button type="submit" class="btn btn-fill btn-rose">
                                Guardar
                                <i class="fa fa-save"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>