<div class="row animated fadeIn">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">contacts</i>
                </div>
                <h4 class="card-title">Administrar Contacto</h4>
            </div>
            <div class="card-body ">
                <form #f="ngForm" ngNativeValidate (submit)="guardarContacto(f)" class="form-horizontal">
                    <div class="row">
                        <label class="col-md-2 col-form-label">Nombre</label>
                        <div class="col-md-4">
                            <div class="form-group has-default">
                                <input [(ngModel)]="contacto.nombre" name="nombre" placeholder="Ingresa tu nombre" type="text" class="form-control" required>
                            </div>
                        </div>
                        <label class="col-md-2 col-form-label">Apellido</label>
                        <div class="col-md-4">
                            <div class="form-group has-default">
                                <input [(ngModel)]="contacto.apellido" name="apellido" placeholder="Ingresa tus apellidos" type="text" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 col-form-label">Telefono</label>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input [(ngModel)]="contacto.telefono" name="telefono" type="tel" pattern="[0-9]{4}-[0-9]{4}" placeholder="5555-5555" class="form-control" required>
                            </div>
                        </div>
                        <label class="col-md-2 col-form-label">Email</label>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input [(ngModel)]="contacto.email" name="email" placeholder="rosa123@hotmail.com" type="email" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 col-form-label">Departamento</label>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select
                                    name="idRegion"
                                    class="form-control"
                                    data-style="select-with-transition"
                                    title="Seleccione departamento"
                                    data-size=""
                                    [(ngModel)]="contacto.provincia.region.idRegion"
                                    (change)="obtenerProvincia($event.target.value)"
                                    required>
                                    <option disabled> Seleccione un departamento</option>
                                    <option *ngFor="let region of regiones" [value]="region.idRegion">{{ region.nombre }} </option>
                                </select>
                            </div>
                        </div>
                        <label class="col-md-2 col-form-label">Municipio</label>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select
                                    name="idProvincia"
                                    class="form-control"
                                    data-style="select-with-transition"
                                    title="Seleccione municipio"
                                    data-size="7"
                                    [(ngModel)]="contacto.provincia.idProvincia"
                                    required>
                                    <option disabled> Seleccione un municipio</option>
                                    <option *ngFor="let provincia of provincias" [value]="provincia.idProvincia"> {{ provincia.nombre }} </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 col-form-label" style="padding-top: 35px">Direccion</label>
                        <div class="col-md-10">
                            <div class="form-group">
                                <input [(ngModel)]="contacto.direccion" placeholder="Ingresa tu direccion completa" name="direccion" type="text" class="form-control" style="height: 50px" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-2 col-form-label">Estado </label>
                        <div class="col-md-10" style="display: flex; align-items: flex-end;">
                            <div class="togglebutton">
                                <label>
                                    <input [(ngModel)]="contacto.estado" name="estado" type="checkbox" checked="">
                                    <span class="toggle"></span>
                                    <i *ngIf="!contacto.estado">Inactivo</i>
                                    <i *ngIf="contacto.estado">Activo</i>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button type="button" [routerLink]="['/contacts']" class="btn btn-fill btn-dark">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                Contactos
                            </button>
                            <button type="submit" class="btn btn-fill btn-rose">
                                Guardar
                                <i class="fa fa-save"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>