<div class="wrapper wrapper-full-page">
    <div class="page-header error-page header-filter" style="background-image: url('../../assets/img/clint-mckoy.jpg')">
        <!--   you can change the color of the filter page using: data-color="blue | green | orange | red | purple" -->
        <div class="content-center">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title">404</h1>
                    <h2>Página no encontrada :(</h2>
                    <h4>Ooooups! Parece que te perdiste.</h4>
                    <button class="btn btn-link" [routerLink]="['/dashboard']">
                        Regresar al inicio
                        <div class="ripple-container">
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>