.acdn {
    margin-top: 0;
    margin-bottom: 0;
}

.title-acdn {
    padding: 0 !important;
    margin: 0 !important;
}

.card-spacius {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}